@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin:0;
    padding:0;
    background-color: #303030;
    background-image: none;
}

#head{
    top: 0px;
    position: relative;
}


#headMenu img{
    width: 100%;
    padding: none;
    filter: brightness(30%);
}

#bigText{
    position: absolute;
    width: 1000px;
    top: 20%;
    align-content: center;
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    font-weight: 700;
    font-weight: black;
    color: #dedede;
    font-size: 69px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    opacity: 52%;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 31, 31);
}
li{
    float: right;
    display: inline;
}
li a{
    display: block;
    color: #dedede;
    text-align: center;
    padding: 40px 59px;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Sora', sans-serif;
    transition: 0.5s;
}

.active{
    background-color: #333333;
}

li a:hover{
    background-color: #565656;
    opacity: 0.7;
}

.logo h2{
    position: absolute;
    margin-top: 20px;
    margin-left: 45px;
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
    color: white;
}

.trendingHead{
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 45px;
    color: #000000;
    font-family: 'Racing Sans One', cursive;
    color: white;
    justify-content: center;
}

.trendingText{
    
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0;
}



.firstTrendImage{
    margin-right: 0px;
    margin-left: 10%;
    /* width: 20%; */
    width: 20%;
    /* height: 20%; */
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    float: left;
    transition: 0.5s;
}

.firstTrendImage:hover, .sTrendImage:hover{
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease; 
}

.firstTrendInfo{
    color: #3f3f3f;
    float: left;
    text-align: center;
    font-family: 'Karla', sans-serif;
    /* border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid; */
    box-sizing: content-box;
    width: 20%;
    height: 30%;
    margin-right: 10px;
}

.firstTrendInfo h1, .sTrendInfo h1{
    margin: 0;
    font-family: 'Racing Sans One', cursive;
    font-style: normal;
    color: #d8d3d0;
    text-align: center;
    font-weight: lighter;
}


.sTrendImage{
    float: left;
    width: 20%;
    height: auto;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 70px;
    transition:0.5s;

}


.sTrendInfo{

    color: #3f3f3f;
    float: left;
    font-family: 'Karla', sans-serif;
    /* border-top: 1px solid;
    border-left: 1px solid;
    border-right: 0.5px solid;
    border-bottom: 1px solid; */
    text-align: center;
    margin-right: auto;
    width: 20%;
    /* height: 600%; */

}


.sTrendInfo h2, .firstTrendInfo h2{
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}
